/* eat the fish, get the cash */
* {
  font-family: 'Fira Sans', sans-serif;
}

#spooky {
  font-size: 40px;
  text-align: center;
  color: #004697;
}

#vertically-align {
  height: 400px;
}

body {
  background: #F05C06;
}
