/* eat the fish, get the cash */
* {
  font-family: 'Fira Sans', sans-serif;
}

#spooky {
  font-size: 40px;
  text-align: center;
  color: #008dff;
}

#vertically-align {
  height: 400px;
}

body {
  background: #ff7200;
}
