/* eat the fish, get the cash */
@font-face {
    font-family: CompactaBoldBT;
    src: url(ufonts.com_compacta-bold-bt.ttf);
}
* {
  font-family: 'CompactaBoldBT', sans-serif;
}

#spooky {
  font-size: 40px;
  text-align: center;
  color: #004697;
}

#vertically-align {
  height: 400px;
}

body {
  background: #F05C06;
}
